<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    
    <form method="get" action="/alerts">
      <li>
        <input class="button" type="submit" value="Alerts" id="alerts">
      </li>
    </form>

    <form method="get" action="/inventoryRequests">
      <li>
        <input class="button" type="submit" value="Inventory Reqeusts">
      </li>
    </form>

    <li>
      <input class="button" type="button" value="Condition Report Reqeusts">
    </li>

    <li>
      <input class="button" type="button" value="My FRR Contacts">
    </li>

    <li>
      <input class="button" type="button" value="Build My Network">
    </li>

    <form method="get" action="/logout">
      <li>
        <input class="button" type="submit" value="Log out" id="log_out">
      </li>
    </form>

  </body>
</html>
