<!DOCTYPE html>
<html>
  <head>
    <title>Front Row Ready</title>
  </head>
  <body>
    <h1>Privacy Policy</h1>

    <p>Front Row Ready, LLC, a Virginia limited liability company (referred to as “We”), is the owner and operator of this online automotive inventory sourcing and marketing service (the “Service”).  This document outlines our privacy and data protection policy (the “Privacy Policy”).  Your access and use of the Service is subject to this Privacy Policy.  Please read it carefully.</p>

    <p>(1)	Personally Identifiable Information.  Personally identifiable information is information associated directly with and identifying a specific person or entity (“Personally Identifiable Information”). The Service will not gather Personally Identifiable Information surreptitiously, but for certain services or items you may be asked to provide Personally Identifiable Information. You are under no obligation to provide Personally Identifiable Information. Personally Identifiable Information includes, without limitation: (1) “Contact Data” (such as your name, mailing address, and e-mail address); and (2) “Financial Data” (such as your account or credit card number). While we strive to protect Personally Identifiable Information, we cannot ensure or warrant the security of any information you provide to us and you do so at your own risk. You will be asked to create a login name and password.  Please do not share your password with another party.</p>

    <p>(2)	Non-Personally Identifiable Information.  Non-Personally Identifiable Information is information not associated directly with a specific person or entity.  Such information includes, but is not limited to, number of visits to the Service, the time, duration, and date of a visit, type of browser used, vehicle volumes, types, prices, histories, and time on the market,  or a visitor’s IP address.  This information is not used to personally identify a user, and We reserve the right to aggregate such data and use it for our own industry trend analysis and marketing.</p>

    <p>(3)	Cookies.  Cookies are pieces of information stored on your computer’s hard drive (“Cookies”).  The Service uses Cookies to track user IDs and passwords, to provide tailored content and to distinguish unique from returning visitors.  Third-party vendors may also use Cookies to provide tailored ad content and information.  The Service does not collect Personally Identifiable Information using Cookies.  You may set your computer’s browser to refuse Cookies or to alert you before accepting them.</p>

    <p>(4)	Public Information. Information you post to the Service in any public forum is available for anyone to see. You should exercise caution when disclosing any information by such means, and agree to assume all responsibility for doing so.</p>

    <p>(5)	Disclosure.  We reserve the right to disclose, sell, give or otherwise transfer Personally Identifiable Information (not including Financial Data) about our users to third parties for their marketing purposes.  We may, in our sole discretion, share with third parties aggregated User Information which has been sanitized not to include Personally Identifiable Information.  In addition, We may use your Personally Identifiable Information to send you marketing information, service updates, promotional offers and other targeted content.  If you do not wish to receive our marketing materials, simply indicate your preference by following the directions provided in such communications. </p>

    <p>(6)	Other Disclosures to Third Parties.  We may disclose Personally Identifiable Information to respond to legal requirements and/or to enforce the Subscription Agreement.  Such information will be disclosed in accordance with applicable laws and regulations.  We may also share your Personally Identifiable Information with service providers under contract who help with our business operations and other third parties to whom you explicitly ask us to send your information and/or to third parties whom you are explicitly notified and consent to by requesting a specific service.</p>

    <p>(7)	Additional Uses.  We use your IP address to help diagnose problems with our server, and to administer our Service. Your IP address is used to gather broad demographic information. We track user activity on the site, such as last login, session failures, search queries and number of results, and other non-personally identifiable information in order, among other things, to help us manage and improve the Service. We may use such non-personally identifiable information, among other things, to analyze trends, promote and market our services, administer the Service, track user's movements, and gather broad demographic and other non-personally identifiable information for aggregate use at our site or otherwise.</p>

    <p>(8)	Modification of Privacy Policy.  We may modify, delete or otherwise alter this Privacy Policy in our sole discretion at any time.  Such modifications shall be effective immediately upon being posted.  You are responsible for regularly reviewing this Privacy Policy.  Continued use of the Service thereafter shall constitute your consent to any modifications hereto.</p>

    <p>(9)	Transferability.  Notwithstanding the foregoing, We may transfer, sell or assign information concerning your use of the Service, including without limitation, Personally Identifiable Information, to third parties, as a result of the sale, merger, consolidation, and change in control, transfer of substantial assets, reorganization or liquidation of Front Row Ready LLC and/or the Service.</p>

    <p>(10)	Contact Information.  We can be contacted at admin@FRR.com .  Please provide your preferred contact info including your phone as appropriate.</p>
  </body>
</html>
