<!DOCTYPE html>
<html>
  <head>
    <title>Front Row Ready</title>
  </head>
  <body>
    <h1>Subscription Agreement</h1>

    <p>Front Row Ready, LLC, a Virginia limited liability company, (“We” and “Us”) grants you access and use of its online automotive inventory sourcing and marketing service (the “Services”), including all content, information and software contained hereon (collectively, the “App”), subject to these terms and conditions of use (the “Subscription Agreement”).  Please read it carefully.</p>

    <p>The App is for exchanging information in a professional and efficient way. The users form a community built on trust. We may monitor your use of the App and if you cannot play by these rules we will ask you to leave, or we may lock you out.</p>

    <p>(1)	License.  Subject to this Subscription Agreement, We grant you a nonexclusive, nontransferable, limited, revocable license to access the App and use the Services to enter, retrieve and display vehicle information and to transmit that vehicle information, including possibly vehicle identification numbers, to other Users. We may revoke this license at any time for your violation of this Subscription Agreement.</p>

    <p>(2)	Registration.  You guarantee that you provided accurate and complete registration information, and you also agree to promptly notify Us of any changes.</p>

    <p>(3)	User Name May Not Be Shared.  We do not, and you may not, allow any other person or group of people to access the App under your User name.  Do not share your password with another party.  You must promptly notify Us of any suspected unauthorized use.</p>

    <p>(4)	Fees.  Access to the App will eventually be restricted to paying subscribers. No charges will be assessed to your account without your prior consent.  If you do not consent or if you fail to pay after consenting then we may terminate your account and block access to the App.</p>

    <p>(5)	Intellectual Property </p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;(a)	General. Copyright, trademark and other proprietary rights and laws protect the App and its intellectual property.  No part of the App, including, but not limited to, graphics, photographs, logos or text, may be copied, photocopied, reproduced, translated or reduced to any electronic medium or machine-readable form, in whole or in part, without specific written permission. Except as expressly provided, nothing contained in this Subscription Agreement shall be construed to confer on you or any third party any license or right, by implication or under any law, rule or regulation, including, without limitation, those related to copyright, trademark or other intellectual property rights.</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;(b)	Submitted Content.  Certain features may allow you to post original material, (collectively, the “Submitted Content”).  You represent that any Submitted Content you post will not and does not infringe the rights of any third party, including, without limitation, intellectual property and privacy rights, and you shall defend, indemnify and hold Us harmless from and against any action, claim, judgment, losses, damages, costs, including reasonable attorney’s fees, and other losses which may be claimed as a result of your breach of this Subscription Agreement.</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;(c)	License to Use Submitted Content.  You grant Us, an irrevocable, assignable, sublicensable, perpetual, nonexclusive, worldwide right to use publish, publicly display, copy, electronically transmit and distribute copies of the Submitted Content in any medium now known or hereafter created.</p>

    <p>(6)	Third Party Software.  The App uses proprietary software licensed to Us by other parties.  These parties are third party beneficiaries under this Agreement who may enforce any claims for breach of this Agreement directly against you.</p>

    <p>(7)	Prohibited Uses.  You are solely responsible for all your activity in connection with the App and the Services.   As a condition of your use of the App, you warrant that you will not use the App and/or the Services for any purpose that is unlawful or prohibited herein, including, without limitation, the following:</p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not scrape, spider, crawl or use any automated device or manual process to harvest data from the App;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not, or attempt to, decompile, reverse engineer, disassemble, loan, sell or create derivative works of the App;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not access content or data not intended for you or log onto a server or account that you are not authorized to access;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not, or attempt to, probe, scan or test the vulnerability of the App or any associated system or network, or to breach security or authentication measures;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not, or attempt to, interfere with service to any user, host or network, including, without limitation, by means of submitting a virus to the App, overloading, flooding, spamming, mail bombing or crashing; </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not use information obtained from the App or from Front Rown Ready LLC or its representatives to solicit other App users;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not use the App, the Services or both to transmit any false, misleading, fraudulent or illegal communications;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account or private information from any other user; and</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;•	 You may not use the App, the Services or both to send unsolicited promotions and/or advertisements.</p>

    <p>(8)	Removal of Submitted Content.  In our sole discretion, We may monitor and remove any and all Submitted Content for any or no reason, including, without limitation, that which allegedly infringes another party’s copyrights.  </p>

    <p>(9)	Privacy.  Your access to the App and use of the Services is subject to our privacy policy.  The privacy policy is always available on our registration page and from our home page.  We reserve the right to modify the policy, and your continued use of the Services constitutes your consent. </p>

    <p>(10)	Disclaimer.  THE APP AND THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS.  WE EXPRESSLY DISCLAIM ALL EXPRESS OR IMPLIED WARRANTIES OF ANY KIND, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.  WE MAKE NO WARRANTY AS TO THE QUALITY, ACCURACY, COMPLETENESS OR VALIDITY OF ANY MATERIAL AND DO NOT WARRANT THAT THE FUNCTIONS CONTAINED ON THE APP AND VIA THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT DEFECTS WILL BE CORRECTED, OR THAT THE APP AND/OR THE SERVICES ARE FREE OF VIRUSES. WHERE APPLICABLE LAW DOES NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, THE FOREGOING EXCLUSIONS MAY NOT APPLY TO YOU.  </p>

    <p>(11)	Limitation of Liability.  WE WILL NOT BE LIABLE, UNDER ANY CIRCUMSTANCES, FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER (INCLUDING, WITHOUT LIMITATION, ATTORNEY’S FEES) RESULTING FROM YOUR USE OF, OR INABILITY TO USE, THE APP AND/OR THE SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  TO THE EXTENT THE FOREGOING LIMITATION OF LIABILITY IS PROHIBITED, OUR SOLE LIABILITY TO YOU FOR DAMAGES SHALL BE LIMITED TO $10.00.</p>

    <p>(12)	Third Party Information.  We take no responsibility and assume no liability for any content posted by you or any third party.</p>

    <p>(13)	Remedies for Violations.  We reserve the right to seek all remedies available at law and in equity for violation of this Subscription Agreement, including, without limitation, the right to terminate your account and block access to the App.</p>

    <p>(14)	Modification of Subscription Agreement.  We may modify, delete or otherwise alter this Subscription Agreement in our sole discretion at any time.  Such modifications shall be effective immediately upon being posted.  You are responsible for staying up-to-date on this Subscription Agreement.  Continued access to the App and/or use of the Services thereafter shall constitute your consent to any modifications hereto.</p>

    <p>(15)	Miscellaneous.  This Subscription Agreement shall be governed by and construed in accordance with the laws of the Commonwealth of Virginia and the laws of the United States, without giving effect to any principles of conflicts of law.  You consent to the sole and exclusive jurisdiction and venue of the United States District Court for the Eastern District of Virginia, and the Goochland County courts of the Commonwealth of Virginia with regard to any suit, action or proceeding arising under this Subscription Agreement and/or your use of the App, the Services or both.  If any provision of this Subscription Agreement shall be unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from this Subscription Agreement and shall not affect the validity and enforceability of any remaining provisions. No waiver of any provision of this Subscription Agreement by Us shall be deemed a further or continuing waiver of such provision or any other provision, and our failure to assert any right or provision under this Subscription Agreement shall not constitute a waiver of such right or provision.  This Subscription Agreement contains the entire agreement between the parties regarding the subject matter hereof, and supersedes all prior written and oral understandings, writings, and representations and may only be amended upon notice by Us.  This Subscription Agreement is binding upon and inures to the benefit of the parties hereto and their respective heirs, personal representatives, successors and assigns.  You may not transfer or assign this Subscription Agreement.</p>
  </body>
</html>
